body{font-family: 'Montserrat', sans-serif; background: #fff;}
header{width: 100%; height: 100%; z-index: 3; clear: both;}

a, a:hover, a:active{color: #5B5B5B; text-decoration: none;}

.blank_25{height: 25px; width: 100%;}
.blank_30{height: 30px; width: 100%;}
.blank_35{height: 35px; width: 100%;}
.blank_40{height: 40px; width: 100%;}
.blank_45{height: 45px; width: 100%;}
.blank_50{height: 50px; width: 100%;}
.blank_75{height: 75px; width: 100%;}
.blank_100{height: 100px; width: 100%;}
.blank_125{height: 125px; width: 100%;}
.blank_150{height: 150px; width: 100%;}
.blank_175{height: 175px; width: 100%;}
.blank_200{height: 200px; width: 100%;}

.topo-involucro{padding: 2px 8% 18px;}
#topo-logo {width: 130px; height: 59px;}

#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: rgba(255, 255, 255, 1);
}
#custom-bootstrap-menu.navbar-default {
    font-size: 14px;
    background-color: rgba(255, 255, 255, 1);
    border-width: 0px;
    border-radius: 0px;
    margin-bottom: -1px;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: rgba(119, 119, 119, 1);
    background-color: rgba(248, 248, 248, 0);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color:#A4D33D;
    background-color: rgba(248, 248, 248, 0);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(255, 255, 255, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #A4D33D;
    margin-top: -42px;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #ffffff;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #A4D33D;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #A4D33D;
}

.navbar-brand >img{
    width:40%; margin-top:-8px;
}

.navbar-default {
    box-shadow: none;
}

.navbar-fixed-top > .container-fluid{
    max-width: 1120px;
    margin: auto;
    background: #fff;
}

.nav-menu-carrinho{
    margin-top: -2px;
    margin-left: -1px;
}

.icone-carrinho{
    border: 2px solid orange;
    border-radius: 3px;
    color: orange;
    padding: 4px;
}

a.btn-nav-estudar{
    color: #e78009;
}

.icone-carrinho:hover{
    border: 2px solid #777;
    border-radius: 3px;
    color: #777;
    padding: 4px;
}

.fundo-home{
    background: url("../img/sofia_sabel-students-1486.jpg") fixed no-repeat;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    overflow-x: no-display;
    
    filter: blur(1px);
    -webkit-filter: blur(1px);
    width: 100%;
    height: 100%;
    position: fixed;
    margin-top: 52px;
    z-index: -1;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.fundo-blog{
    background: url("../Hero_HS_1079x487.jpg") fixed no-repeat;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    overflow-x: no-display;
    filter: blur(1px);
    -webkit-filter: blur(2px);
    width: 100%;
    height: 100%;
    position: fixed;
    margin-top: 46px;
    z-index: -1;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.topo-chamada {
    background: #a1d54f;
    background: -moz-linear-gradient(top, #a1d54f 10%, #a1d54f 10%, #7cbc0a 58%, #7cbc0a 79%, #80c217 100%, #9dd53a 100%);
    background: -webkit-linear-gradient(top, #a1d54f 10%,#a1d54f 10%,#7cbc0a 58%,#7cbc0a 79%,#80c217 100%,#9dd53a 100%);
    background: linear-gradient(to bottom, #a1d54f 10%,#a1d54f 10%,#7cbc0a 58%,#7cbc0a 79%,#80c217 100%,#9dd53a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a1d54f', endColorstr='#9dd53a',GradientType=0 );
    color: #fff;
    font-size: 26px;
    margin-top: -19px;
    min-height: 500px;
    padding: 1% 8% 0;
    filter: opacity(89%);
    -webkit-filter: opacity(89%);
}


.form-busca-topo{padding-top: 8px;}

.involucro-conteudo-pagina{
    width: 100%;
    height: 100%;
    clear: both;
    background-color: #fff;
}

.titulo-pagina{
    background: #a1d54f;
    background: -moz-linear-gradient(top, #a1d54f 10%, #a1d54f 10%, #7cbc0a 58%, #7cbc0a 79%, #80c217 100%, #9dd53a 100%);
    background: -webkit-linear-gradient(top, #a1d54f 10%,#a1d54f 10%,#7cbc0a 58%,#7cbc0a 79%,#80c217 100%,#9dd53a 100%);
    background: linear-gradient(to bottom, #a1d54f 10%,#a1d54f 10%,#7cbc0a 58%,#7cbc0a 79%,#80c217 100%,#9dd53a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a1d54f', endColorstr='#9dd53a',GradientType=0 );
    min-height: 250px;
    height: 200px;
}
.conteudo-titulo{width: 1020px; margin: auto;}
.conteudo-titulo > h1{padding: 170px 0px 0px 14px; color: #fff;float: left;}
.conteudo-pagina{max-width: 1020px; margin: auto;padding: 20px 0px 25px 0px;z-index: 3; background-color: #fff;}
.conteudo-pagina .breadcrumb .active{color: #a4d343;}
.conteudo-esquerdo{
    padding: 25px 9px 10px 9px;
    height: 100%;
}
.conteudo-direito p{
    padding: 4px 6px 20px 3px;
}

.conteudo-direito > h2{
   color: #a4d343;         
}
.conteudo-direito > p{
    color: #685B5B;
}

.btn-topo-busca {
    background: none;
    border: none;
}

.btn-topo-busca:hover{
    color:#A4D33D;
}

.link-home-cadastro{color: #E2E200;}

.busca{background: #e2e2e2; color: #A4D33D; border: none; width:86%;}

.icone-chamada {text-align: center; color: #fff; }
.icone-chamada a{border-radius: 5px; color: #fff;}
.icone-chamada:hover, .icone-chamada:active{color: #fff; text-decoration: none; }
.icone-chamada i{text-align: center; font-size:50px; margin: 0px;}
.icone-chamada p {clear: both; margin: 0; padding: 4%; text-align: center;}

.form-login-chamada{margin: 12px 203px 0px 205px;}
#frm-login{margin: auto; float: left;}
.titulo-form-login-home{font-size: 20px; text-align: center; font-weight: bold;}
.btn{border-radius: 1px; color: #f7f7f7;}

.btn-logar{background: #e2e2e2; color: #777;}
.btn-logar:hover{background: #f7f7f7; color:#A4D33D;}

.img-chamada{padding: 38px;}
.titulo-home{text-align: center; padding: 0px 0px 73px 0px;}

footer{clear: both; padding-bottom: 21px; max-height: 100%; background: #5B5B5B; color: #fff; font-weight: bold;}


/*Painel lateral*/

.panel-heading {
    padding: 0px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.list-group {
    border-radius: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.list-group-item{
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px -20px;
    background-color: #fff;
    border: none;
    float: left;
    width: 222px;
}

#lateral{
    margin-top: -5px;
}

.panel-suporte>.panel-heading {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
    padding: 14px 0px 12px 17px;
}
.panel-suporte > .ṕanel-title a:active{text-decoration: none;}
.panel-suporte > .panel-title{
    
}

.panel-faq>.panel-heading {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
    padding: 9px 0 8px 10px;
}

.panel-visualiza-curso>.panel-heading {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
    padding: 9px 0 8px 10px;
}

.img-visualiza-curso{
    width: 220px;
}

/*Blog*/

.icone-lista-post{
    background: red;
    color:#fff;
}


