
@media only screen and (min-width: 360px) { 
    body{height: 100%;}
    .form-login-chamada {
        margin: auto;
    }
    .rodape-involucro{height: 61px; padding: 6px 6px 4px 7px; }
    .rodape-involucro p{margin: 1px 0 -2px; text-align: center; font-size: 12px;}
}

@media only screen and (min-width: 768px) { 
    body{height: 100%;}
    .navbar-right {margin-top: -46px;}
    footer{height: 70px;}
}

@media only screen and (min-width: 800px) {   
    header {height: 100%;}
    body{overflow-y: no-display;}
    .img-chamada {
        clear: both;
        height: 100%;
        padding: 38px;
    }
    footer {
        bottom: 54px;
        clear: both;
        height: 110px;
    }
    .topo-chamada {
        height: 1180px;
    }
    .rodape-involucro{width:100%; max-width: 1020px; margin: auto; min-height: 48px;  z-index: 5;}
    .rodape-involucro p {font-size: 12px; margin: 17px 0px;}
    
}
@media only screen and (min-width: 1280px) {
    body{height: 100%;}
    .menu-principal {margin-top: 0;}
    .topo-chamada{
        max-height: 1000px;
        height: 770px;
    }
     footer {
       padding-top: 20px;
    }
}

.alert {
    font-size: 14px;
}

.control-label{font-size:14px;}

.media {
    min-height: 120px;
    margin-top: 15px;
    padding: 1px 2px 0;
}

.media-object {
    display: block;
    width: 150px;
}

.media-heading{
    font-size: 14px;
    margin-top: 5px;
    font-weight: 700;
}

.pagination {
    border-radius: 0;
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    margin: -5px 0;
    padding-left: 0;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color: #a4d33d;
    border-color: #a4d33d;
    color: #fff;
    cursor: default;
    z-index: 3;
}

.jumbotron {
    padding-bottom: 48px;
    padding-left: 50px;
    padding-top: 48px;
}