.wt-rotator{
font-family:Arial,Helvetica,sans-serif;
font-size:12px;
background-color:#000;
border:0px solid #000;
position:relative;
width:940px;
height:300px;
overflow:hidden;
}
.wt-rotator a{
outline:none;
}
.wt-rotator .screen{
position:relative;
top:0;
left:0;
width:940px;
height:300px;
overflow:hidden;
}
.wt-rotator .strip{
display:block;
position:absolute;
top:0;
left:0;
z-index:0;
overflow:hidden;
}
.wt-rotator .content-box{
display:none;
position:absolute;
top:0;
left:0;
overflow:hidden;
}
.wt-rotator .main-img{
display:none;
position:absolute;
top:0;
left:0;
z-index:0;
border:0;
}
.wt-rotator .preloader{
position:absolute;
top:50%;
left:50%;
width:40px;
height:40px;
margin-top:-20px;
margin-left:-20px;
-moz-border-radius:4px;
-webkit-border-radius:4px;
border-radius:4px;
background:#000 url(assets/loader.gif) center no-repeat;
background:rgba(0,0,0,.7) url(assets/loader.gif) center no-repeat;
z-index:4;
display:none;
}
.wt-rotator .timer{
position:absolute;
left:0;
height:4px;
background-color:#FFF;
-moz-opacity:.5;
filter:alpha(opacity=50);
opacity:0.5;
z-index:4;
visibility:hidden;
font-size:0;
}
.wt-rotator .desc{
position:absolute;
color:#FFF;
z-index:6;
overflow:hidden;
visibility:hidden;
text-align:left;
}
.wt-rotator .inner-bg{
position:relative;
top:0;
left:0;
width:100%;
height:100%;
background-color:#000;
-moz-opacity:.7;
filter:alpha(opacity=70);
opacity:.7;
z-index:0;
}
.wt-rotator .inner-text{
position:absolute;
top:0;
left:0;
padding:10px;
width:auto;
height:auto;
z-index:1;
}
.wt-rotator .c-panel{
position:absolute;
top:0;
z-index:7;
visibility:hidden;
}
.wt-rotator .outer-hp,
.wt-rotator .outer-vp{
position:absolute;
background:#333;
background:-moz-linear-gradient(#444, #111);
background:-webkit-gradient(linear, 0 top, 0 bottom, from(#444), to(#111));
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#111111',GradientType=0);
border:1px solid #000;
}
.wt-rotator .outer-hp{
left:0;
width:100%;
border-left:none;
border-right:none;
}
.wt-rotator .outer-vp{
top:0;
height:100%;
border-top:none;
border-bottom:none;
}
.wt-rotator .back-scroll,
.wt-rotator .fwd-scroll{
position:absolute;
top:0;
left:0;
z-index:10;
background:url(assets/spacer.png) no-repeat;
}
.wt-rotator .thumbnails,
.wt-rotator .buttons{
display:inline;
position:relative;
float:left;
overflow:hidden;
}
.wt-rotator .thumbnails ul{
position:relative;
list-style:none;
margin:0;
padding:0;
}
.wt-rotator .thumbnails ul.inside{
position:absolute;
top:0;
left:0;
}
.wt-rotator .thumbnails li,
.wt-rotator .play-btn,
.wt-rotator .prev-btn,
.wt-rotator .next-btn{
position:relative;
list-style:none;
display:inline;
float:left;
overflow:hidden;
width:24px;
height:24px;
line-height:24px;
text-align:center;
color:#EEE;
text-shadow: 0 1px 0 #222;
background-color:#000;
background:-moz-linear-gradient(#333, #000);
background:-webkit-gradient(linear, 0 top, 0 bottom, from(#333), to(#000));
border:1px solid #111;
cursor:pointer;
font-size:12px;
font-weight:bold;
background-repeat:no-repeat !important;
background-position:center !important;
-moz-border-radius:3px;
-webkit-border-radius:3px;
border-radius:3px;
}
.wt-rotator .thumbnails li:hover{
color:white;
text-shadow: 0 1px 0 #888;
background-color:#f7a31f;
background:-moz-linear-gradient(#f7a31f, #f7a31f);
background:-webkit-gradient(linear, 0 top, 0 bottom, from(#f7a31f), to(#f7a31f));
}
.wt-rotator .thumbnails li.curr-thumb{
color:#000;
text-shadow: 0 1px 0 #fff;
background-color:#f7a31f;
background:-moz-linear-gradient(#f7a31f, #f7a31f);
background:-webkit-gradient(linear, 0 top, 0 bottom, from(#f7a31f), to(#f7a31f));
cursor:default;

}

.wt-rotator .thumbnails li.image{
background:#000;
-moz-border-radius:0;
-webkit-border-radius:0;
border-radius:0;
}
.wt-rotator .thumbnails li.image.curr-thumb,
.wt-rotator .thumbnails li.image:hover{
border-color:#f7a31f;
}
.wt-rotator .thumbnails li.image a{
display:block;
border:0;
}
.wt-rotator .thumbnails li.image img{
display:block;
border:0;
position:absolute;
-moz-opacity:.85;
filter:alpha(opacity=85);
opacity:0.85;
}
.wt-rotator .thumbnails li.image:hover img{
-moz-opacity:1;
filter:alpha(opacity=100);
opacity:1;
}
.wt-rotator .thumbnails li.image.curr-thumb img{
-moz-opacity:1;
filter:alpha(opacity=100);
opacity:1;
cursor:default;
}
.wt-rotator .thumbnails li *{
display:none;
}
.wt-rotator .thumbnails li div{
position:relative;
color:#FFF;
background-color:#000;
width:auto;
height:auto;
}
.wt-rotator .play-btn{
background:#000 url(assets/play.png);
background:url(assets/play.png), -moz-linear-gradient(#333, #000);
background:url(assets/play.png), -webkit-gradient(linear, 0 top, 0 bottom, from(#333), to(#000));
}
.wt-rotator .play-btn:hover{
background-color:#f7a31f !important;
background:url(assets/play.png), -moz-linear-gradient(#f7a31f, #f7a31f);
background:url(assets/play.png), -webkit-gradient(linear, 0 top, 0 bottom, from(#f7a31f), to(#f7a31f));
}
.wt-rotator .pause{
background:#000 url(assets/pause.png);
background:url(assets/pause.png), -moz-linear-gradient(#333, #000);
background:url(assets/pause.png), -webkit-gradient(linear, 0 top, 0 bottom, from(#333), to(#000));
}
.wt-rotator .pause:hover{
background-color:#f7a31f !important;
background:url(assets/pause.png), -moz-linear-gradient(#f7a31f, #f7a31f);
background:url(assets/pause.png), -webkit-gradient(linear, 0 top, 0 bottom, from(#f7a31f), to(#f7a31f));
}
.wt-rotator .prev-btn{
background:#000 url(assets/prev.png);
background:url(assets/prev.png), -moz-linear-gradient(#333, #000);
background:url(assets/prev.png), -webkit-gradient(linear, 0 top, 0 bottom, from(#333), to(#000));
}
.wt-rotator .prev-btn:hover{
background-color:#f7a31f !important;
background:url(assets/prev.png), -moz-linear-gradient(#f7a31f, #f7a31f);
background:url(assets/prev.png), -webkit-gradient(linear, 0 top, 0 bottom, from(#f7a31f), to(#f7a31f));
}
.wt-rotator .next-btn{
background:#000 url(assets/next.png);
background:url(assets/next.png), -moz-linear-gradient(#333, #000);
background:url(assets/next.png), -webkit-gradient(linear, 0 top, 0 bottom, from(#333), to(#000));
}
.wt-rotator .next-btn:hover{
background-color:#f7a31f !important;
background:url(assets/next.png), -moz-linear-gradient(#f7a31f, #f7a31f);
background:url(assets/next.png), -webkit-gradient(linear, 0 top, 0 bottom, from(#f7a31f), to(#f7a31f));
}
.wt-rotator .up{
background:#000 url(assets/up.png);
background:url(assets/up.png), -moz-linear-gradient(#333, #000);
background:url(assets/up.png), -webkit-gradient(linear, 0 top, 0 bottom, from(#333), to(#000));
}
.wt-rotator .up:hover{
background-color:#CCC !important;
background:url(assets/up.png), -moz-linear-gradient(#CCC, #999);
background:url(assets/up.png), -webkit-gradient(linear, 0 top, 0 bottom, from(#CCC), to(#999));
}
.wt-rotator .down{
background:#000 url(assets/down.png);
background:url(assets/down.png), -moz-linear-gradient(#333, #000);
background:url(assets/down.png), -webkit-gradient(linear, 0 top, 0 bottom, from(#333), to(#000));
}
.wt-rotator .down:hover{
background-color:#CCC !important;
background:url(assets/down.png), -moz-linear-gradient(#CCC, #999);
background:url(assets/down.png), -webkit-gradient(linear, 0 top, 0 bottom, from(#CCC), to(#999));
}
#rotator-tooltip{
position:absolute;
top:0;
left:0;
z-index:99999;
display:none;
}
#rotator-tooltip.txt-up{
margin-left:-10px;
margin-bottom:5px;
background:url(assets/vtip.png) no-repeat;
background-position:10px bottom;
background-position-x:10px;
background-position-y:bottom;
}
#rotator-tooltip.txt-down{
margin-left:-10px;
margin-top:24px;
background:url(assets/vtip.png) no-repeat;
background-position:10px top;
background-position-x:10px;
background-position-y:top;
}
#rotator-tooltip.img-up{
background:url(assets/vtip.png) center bottom no-repeat;
}
#rotator-tooltip.img-down{
background:url(assets/vtip.png) center top no-repeat;
}
#rotator-tooltip.img-right{
background:url(assets/htip.png) left center no-repeat;
}
#rotator-tooltip.img-left{
background:url(assets/htip.png) right center no-repeat;
}
#rotator-tooltip .tt-txt{
font-family:Arial,Helvetica,sans-serif;
font-size:12px;
color:#FFF;
background-color:#000;
max-width:300px;
padding:5px;
-moz-border-radius:3px;
-webkit-border-radius:3px;
border-radius:3px;
margin:8px 0;
}
#rotator-tooltip img{
display:none;
background-color:#000;
padding:3px;
margin:8px;
-moz-border-radius:2px;
-webkit-border-radius:2px;
border-radius:2px;
}
.wt-rotator .s-prev,
.wt-rotator .s-next{
position:absolute;
top:50%;
margin-top:-25px;
width:40px;
height:50px;
cursor:pointer;
background:url(assets/large_buttons.png) no-repeat;
-moz-opacity:.8;
filter:alpha(opacity=80);
opacity:.8;
z-index:8;
}
.wt-rotator .s-prev{
left:0;
background-position:0 center;
}
.wt-rotator .s-next{
left:100%;
margin-left:-40px;
background-position:-40px center;
}
.wt-rotator .s-prev:hover,
.wt-rotator .s-next:hover{
-moz-opacity:.95;
filter:alpha(opacity=95);
opacity:.95;
background-color:transparent !important;
}
.wt-rotator .block,
.wt-rotator .vpiece,
.wt-rotator .hpiece{
position:absolute;
z-index:2;
}