
.alert {
    font-size: 14px;
}

.control-label{font-size:14px;}

.media {
    min-height: 120px;
    margin-top: 15px;
    padding: 1px 2px 0;
}

.media-object {
    display: block;
    width: 150px;
}

.media-heading{
    font-size: 14px;
    margin-top: 5px;
    font-weight: 700;
}

.pagination {
    border-radius: 0;
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    margin: -5px 0;
    padding-left: 0;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color: #a4d33d;
    border-color: #a4d33d;
    color: #fff;
    cursor: default;
    z-index: 3;
}

.jumbotron {
    padding-bottom: 48px;
    padding-left: 50px;
    padding-top: 48px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #E7E7E7;
    height: 35px;
}

.modal-open .modal{top: 25%;}

