/* CSS document */

<!--

.nome_secao
{
	font-family:Tahoma;
	font-size:22px;
	padding:10px;
	color:white;
	border-right:1px dashed gray;
}

.titulo
{
	font-family:Tahoma;
	font-size:13px;
	font-weight:bold;
	padding:10px;
}

.texto
{
	font-family:Tahoma;
	font-size:12px;
	padding:5px;
	
}

.botao1 {
	background-color:#005555;	
	font-size:13px;
	color:#FFFFFF;
	font-family:Tahoma;
	border:0px solid;
}

.botao2 {
	background-color:#F30;	
	font-size:12px;
	color:#FFFFFF;
	font-family:Tahoma;
	border:0px solid;
}

.tarja{
	background-color:#004444;
	color:white;
	padding:10px;
	font-size:15px;
	font-family:Tahoma;
}

.tabela_busca tr{
	vertical-align:middle;
}	

.tabela_busca td{
	color:white;
}	

.botao {
	background-color:#005555;	
	font-size:13px;
	color:#FFFFFF;
	font-family:Tahoma;
	border:0px solid;
}

div{
	font-family:Tahoma;
}

#resultado_busca{
	font-family:Tahoma;
	font-size:10px;
	color:#999999;
	color:red;
}

.botao2 {
	background-color:#666666;	
	font-size:12px;
	color:#FFFFFF;
	font-family:Tahoma;
	border:0px solid;
}


.content_admin{
	font-family:Tahoma;
	font-size:12px;
	width:auto;
}


		#menu {
			padding-right:15px;

		}
		
			.image{
			border:0px none;
		}
		
	
		.input_full{
			width:100%;
		}
		
		.input_large{
			width:300px;
		}
		
		.input_medium{
			width:220px;
		}
		
		.input_little{
			width:80px;
		}
			
		.div_buscar{
			background-color:#003333;
			vertical-align:middle;

			color:white;
			margin-bottom:10px;
		}
		

		
		.div_login{
			text-align:center;
			font-family:Tahoma;
			font-size:12px;
			color:#000000;
		
		}
		
		.div_login_response{
			text-align:center;
			font-family:Tahoma;
			font-size:12px;
			color:#FF0000;				
			margin-bottom:30px;
		}
				

							
		input{
			font-size:12px;
		}
		
		textarea{
			font-size:12px;
			font-family:Tahoma;
		}
		
		select{
			font-size:12px;
		}
				
		a { 
			font-family:Tahoma;
			font-size:12px;
			color:#000000;				
		}
		
		a:link,a:visited{
			text-decoration:none;
		}
		
		a:hover{
			text-decoration:underline;
		}
		
		#abas{
			margin-right:40px;
			
		}
		
		#abas a{
			color:#000000;
		}
		
		body{			
			background-color:#transparent;
			text-align:center;
			margin-top:-7px;
		}
		
		
		#top_login{
			position:static;
   		  	font-family:Tahoma;
			text-align:center;  
			font-size:12px;  		
			margin-bottom:10px;
			margin-top:10px;
			
			
		}
		
		#top_menu{
			position:static;
			margin-top:5px;
		}
				
		table{
			width:auto;
		}
		
		td{
			padding-right:3px;
			padding-left:3px;
			font-family:Tahoma;
			font-size:12px;
			color:#000000;		
			text-align:center;
		}
		
		.tr_header{
			text-align:center;
			font-weight:bold;
		}
				
		.tr_content{
			background-color:#DDD;
			cursor:pointer;
		}	
					
					
-->